// Styles de colores
$grey-neutral-50: #F1F1F1;
$grey-neutral-100:#E4E4E4;
$grey-neutral-200:#CACACA;
$grey-neutral-300:#B1B1B1;
$grey-neutral-400:#979797;
$grey-neutral-500:#7D7D7D;
$grey-neutral-600:#696969;
$grey-neutral-700:#555555;
$grey-neutral-800:#414141;
$grey-neutral-900:#2D2D2D;
$grey-neutral-1000:#191919;
$indigo-500:#486DB7;
$pink-500:#F778B9;
$purple-500:#B378FF;
$basicWhite:#FFFFFF;
$basicBlack:#000000;
$font1:"Merriweather";
$fontPrimary:"Merriweather";
$fontSecondary:"Source Sans Pro";
$footer:#265E6C;
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,500;1,300&family=Source+Code+Pro:ital,wght@0,400;0,700;1,300&family=Source+Sans+Pro:ital,wght@0,300;0,400;1,200&display=swap');
// $primary: #5C62C5;
// $dark-grey:#363636;
// $light-grey: #d8d8d8;